footer{
	display: block;
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
	min-height: 50px;	
	background:#e6e6e6;
	text-align:center;
	margin-top: 16px;
	.info{
		color:#666;
		padding-top: 6px;
		a{
			color:#666;
			text-decoration: none;
			border-bottom: 1px solid #999;
		}
	}
}