.main {
    /*
	 *标签云页面
	 */
    .tag-title {
        text-align: center;
        color: #204264;
    }
    div.tags {
        text-align: center;
        li.tag-list-item {
            display: inline-block;
            list-style: none;
            margin-right: 16px;
            background: #eee;
            padding: 0 5px;
            a.tag-list-link {
                text-decoration: none;
                color: #555;
            }
            span.tag-list-count {
                vertical-align: super;
                font-size: 0.88rem;
            }
        }
        li.tag-list-item:hover {
            background: #C7DEF5;
        }
    }
    /*
     *单个标签页面
     */
    div.one-tag {
    	text-align: center;
        h1 {
            font-size: 2rem;
        }
        div.tag_item {
            a.title {
                text-decoration: none;
                border-bottom: 1.8px dashed #ccc;
                color: #555;
            }
            span.date{
            	color: #878787;
            }
        }
    }
}