<div class="one-tag">
    <h1><i class="fa fa-tags"></i><%= page.tag %></h1>
    <% page.posts.each(function(post){ %>
      <div class="tag_item">
      	<span class="date"><i class="fa fa-clock-o"></i> <%= post.date.format('YYYY-MM-DD') %></span> 
        <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>       
      </div>
    <% }) %>
</div>