.header{
	margin-top:2em
	display:flex
	align-items:baseline
	justify-content: space-between
	
	.blog-title .logo{
		color:#AAA;
		font-family: "Comic Sans MS", cursive, LiSu,sans-serif;
		text-decoration:none;
		font-size:3em;
	}
	
	.menu{
		margin:0;
		padding: 0;
		
		.menu-item{
			display: inline-block;
			margin-right:10px;
		}
		.menu-item-link{
			text-decoration: none;
			color:#AAA;
			font-size:1.5em;
			
			&:hover{
				color: #368CCB;
			}
		}
	}
}