.post{
	margin:1em auto;
	background-color:#fff;
	border:1px solid #ddd;
	box-shadow:0 0 2px #ddd;
	padding:30px 50px;
}

.posts{
	.post:first-child{
		margin-top:0;
	}	
	.post-title .post-title-link{
		text-decoration:none;
		font-size:1.5em;
	}
	
	.post-content{
		a{
			color:#368CCB;
			text-decoration:none;
		}
	}
	
	.post-meta{
		color:#BABABA;
	}
}